<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="Krishna Bhandai" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Krishna Bandari World</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, penetration tester,bug bounty hunter, and Investor</h1>
                        <a href="https://www.myfuturewebsite.com" target="_Target"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

   {{>footer}}
</body>

</html>